.speakers-grid {
	padding: clamp(64px, 7vw, 100px) 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 48px 32px;
	max-width: 1056px;
	width: 100%;
	margin: 0 auto;
}

.workshop-card-wrapper {
	display: flex;
	justify-content: center;
}

@media (max-width: 1200px) {
	.speakers-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 710px) {
	.speakers-grid {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}
