.navbar {
	height: 58px;
	width: 100%;
	border-bottom: var(--stroke);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 100%;
	padding: 0 16px 0 18px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	border-right: var(--stroke);
	display: flex;
	align-items: center;
}

.links-wrapper {
	display: flex;
	align-items: center;
	gap: 32px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	height: 100%;
}

.links-wrapper a:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
}

.register-btn {
	height: 100%;
	background-color: var(--orange);
	padding: 0 18px 0 24px;
	display: flex;
	align-items: center;
	transition: var(--default-transition);
}

.register-btn:hover {
	background-color: var(--orange-dark);
}

.register-btn img {
	transition: var(--default-transition);
}

.register-btn:hover img {
	rotate: 45deg;
}

.ham-wrapper {
	display: none;
}

.menu {
	display: none;
}

@media (max-width: 905px) {
	.links-wrapper {
		display: none;
	}

	.navbar {
		height: 50px;
	}

	.logo {
		padding: 0 13px 0 15px;
	}

	.ham-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 50px;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		flex-direction: column;
	}

	.menu-top {
		height: 50px;
		display: flex;
		justify-content: space-between;
		border-bottom: var(--stroke);
		flex-shrink: 0;
	}

	.close-wrapper {
		height: 100%;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu-links-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 32px 24px;
		gap: 28px;
	}

	.menu-links-wrapper .register-btn {
		height: 46px;
	}
}
