.workshop-box {
	display: flex;
	flex-direction: column;
	width: 330px;
	border: var(--stroke);
}

.poster {
	object-fit: cover;
	object-position: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	flex-shrink: 0;
	width: 330px;
	height: 330px;
}

.content-box {
	display: flex;
	flex-direction: column;
	padding: 20px 18px;
	gap: 10px;
}

.date-time {
	display: flex;
	gap: 6px;
	align-items: center;
}

.dot {
	height: 4px;
	width: 4px;
	background-color: #000000;
	border-radius: 50%;
}

.date {
	background-color: #e8e8e8;
	font-size: 13px;
	border-radius: 20px;
	font-weight: 600;
	padding: 4px 8px;
	text-transform: uppercase;
}

.time {
	font-size: 13px;
	font-weight: 600;
}

.title {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 130%;
	margin: 4px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
	color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 67px;
}

.bottom-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.organizer {
	display: flex;
	align-items: center;
	gap: 8px;
}

.organizer-logo {
	border-radius: 100px;
	object-fit: cover;
	object-position: center;
}

.organizer span {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.01rem;
}

.view-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border-radius: 100px;
	border: var(--stroke);
	box-shadow: var(--shadow);
}
