.hero {
	height: calc(100vh - 70px);
	min-height: 650px;
	max-height: 1000px;
	width: 100%;
	border-bottom: var(--stroke);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 64px;
	padding: 0 48px;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	height: 100%;
	display: flex;
}

.hero-image {
	height: 500px;
}

.left h1 {
	font-size: 72px;
	font-weight: 700;
	letter-spacing: -4px;
	line-height: 1;
}

.items-wrapper {
	display: flex;
	align-items: center;
	gap: 34px;
}

.item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.item-text {
	font-size: 20px;
	font-weight: 500;
	white-space: nowrap;
}

.circle {
	width: 46px;
	height: 46px;
	border: var(--stroke);
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 0 #000;
	flex-shrink: 0;
}

.circle img {
	width: 24px;
	height: 24px;
}

.cta-button {
	height: 54px;
	width: 200px;
	border-radius: 100px;
	border: var(--stroke);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 0 #000;
	background-color: var(--orange);
	transition: var(--default-transition);
}

.cta-button:hover {
	background-color: var(--orange-dark);
}

.cta-button:active {
	scale: 0.95;
}

.cta-button span {
	font-size: 16px;
	font-weight: 500;
}

.cta-button img {
	transition: var(--default-transition);
}

.cta-button:hover img {
	rotate: 45deg;
}

@media (max-width: 900px) {
	.hero {
		height: calc(100vh - 50px);
	}

	.container {
		flex-direction: column;
		justify-content: center;
		align-items: start;
		height: 100%;
		gap: 0;
		padding: 0;
		margin: 0 -56px;
	}

	.left {
		height: unset;
		padding: 56px 0 64px 0;
		margin: 0 80px;
		gap: 26px;
	}

	.hero-image {
		height: 350px;
		flex-shrink: 0;
	}

	.left h1 {
		font-size: 45px;
		letter-spacing: -2px;
	}

	.items-wrapper {
		gap: 22px;
	}

	.item {
		gap: 12px;
	}

	.circle {
		width: 46px;
		height: 46px;
	}

	.item-text {
		font-size: 18px;
	}

	.cta-button {
		height: 50px;
		width: 150px;
		padding-left: 10px;
	}
}
