@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--stroke: 2px solid #000;
	--orange: #ff8b4a;
	--orange-dark: #fa7225;
	--default-transition: 0.15s ease all;
}

.custom-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
}

.custom-prev {
	left: 1px;
	z-index: 1;
}

.custom-next {
	right: 1px;
	z-index: 1;
}

.slick-slide > div {
	justify-content: center;
	align-items: center;
	display: flex;
}

.slick-arrow {
	background-color: aqua;
}

.slick-prev {
	background-color: aqua;
}
