.sponsors-grid {
	padding: clamp(64px, 7vw, 100px) 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.sponsor {
	display: flex;
	flex-direction: column;
	border: var(--stroke);
}

.logo-container {
	height: 265px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-container img {
	transition: 0.3s ease all;
}

.logo-container:hover img {
	scale: 1.1;
}

.logo-container:active img {
	scale: 1;
}

.sponsor-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	padding: 6px 12px;
}

.circle {
	height: 16px;
	width: 16px;
	flex-shrink: 0;
	border-radius: 100px;
}

.company-name {
	font-size: 13px;
}

.tier {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	padding-left: 12px;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 905px) {
	.sponsors-grid {
		grid-template-columns: 1fr;
	}
}
