.footer {
	display: flex;
	flex-direction: column;
	border-top: var(--stroke);
	background-color: #f7f7f7;
}

.bottom {
	border-top: var(--stroke);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 52px;
}

.logo {
	border-right: var(--stroke);
	height: 100%;
	padding: 0 16px 0 18px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
}

.bottom span {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
	padding: 0 32px;
	text-align: right;
}

.top {
	width: 100%;
	padding: 72px 0 112px 0;
	display: flex;
	justify-content: space-between;
	gap: 56px;
}

.left {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.contact-wrapper {
	display: flex;
	align-items: center;
	gap: 14px;
}

.contact-wrapper img {
	width: 40px;
	height: 40px;
}

.contact-wrapper span {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: -1px;
	color: rgba(0, 0, 0, 0.5);
}

.left h4 {
	font-size: 52px;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 110%;
}

.right {
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 52px;
}

.contact-items-wrapper {
	display: flex;
	align-items: center;
	gap: 52px;
}

.contact-item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.contact-item-icon-wrapper {
	width: 54px;
	height: 54px;
	border: var(--stroke);
	box-shadow: var(--shadow);
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-item-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.contact-item-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
}

.contact-item-value {
	font-size: 18px;
	font-weight: 500;
	line-height: 130%;
	color: rgba(0, 0, 0, 0.6);
}

.social {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.social-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
}

.social-icons-wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}

.social-icons-wrapper img {
	transition: 0.2s ease all;
}

.social-icons-wrapper img:hover {
	scale: 1.1;
}

.social-icons-wrapper img:active {
	scale: 1;
}

@media (max-width: 1200px) {
	.top {
		flex-direction: column;
	}
}

@media (max-width: 740px) {
	.left {
		gap: 14px;
	}

	.left h4 {
		font-size: 38px;
		letter-spacing: -1px;
		width: 225px;
	}

	.contact-wrapper {
		gap: 8px;
	}

	.contact-wrapper img {
		width: 26px;
		height: 26px;
	}

	.contact-wrapper span {
		font-size: 24px;
		letter-spacing: -1px;
	}

	.contact-items-wrapper {
		flex-direction: column;
		align-items: start;
		gap: 26px;
	}

	.top {
		gap: 0;
		padding: 40px 0 48px 0;
	}

	.right {
		padding-top: 40px;
	}

	.social-icons-wrapper {
		gap: 16px;
	}

	.bottom {
		height: unset;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		padding: 22px 0;
	}

	.logo {
		border: none;
		padding: 0;
	}

	.bottom span {
		padding: 0;
		text-align: center;
		width: 310px;
	}
}
